{% extends "layout.html" %}

{% block content %}

<div class="card vh-90 d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center" style="background: #fd7e14;">
        <img src="../static/img/fazt.png" class="card-img w-25" alt="description of img">
    </div>
    <div class="card-body">
        <h5 class="card-title display-6 text-uppercase fw-bold">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus deleniti beatae illo
            quia voluptatem ea doloribus eligendi reprehenderit voluptatibus ipsa? Tenetur quas, nostrum fugit autem
            eius ducimus accusamus rerum illum.
            Et dolores vero reiciendis alias facere sit accusantium eligendi, ratione est, consequatur non cumque
            esse, ab explicabo suscipit adipisci nemo rerum? Ad alias dolorum repellendus quasi? Beatae ullam ut et.
            Quod aliquid dolorem neque laboriosam assumenda. Blanditiis quia suscipit optio nesciunt aliquam
            consequatur, architecto minima. Ratione laborum reiciendis maiores atque fugiat repellat, dolores ex
            ullam magni, laboriosam dolorum et necessitatibus?
            Aspernatur cumque sequi hic iste quod quam aliquam quibusdam, error vel illo culpa rem asperiores rerum
            exercitationem inventore omnis a minus dolore obcaecati! Eum dolores beatae rem quod deserunt atque?0.
        </p>
        <div class="container text-center">
            <a href="#" class="btn btn-primary w-50 ">Go somewhere</a>
        </div>
    </div>
</div>

{% endblock %}